[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:SIGMA-IT/bootstrap.git
[submodule "canui"]
	path = canui
	url = git@github.com:SIGMA-IT/canui.git
[submodule "js-hal"]
	path = js-hal
	url = git@github.com:SIGMA-IT/js-hal.git
[submodule "can"]
	path = can
	url = git://github.com/bitovi/canjs.git
[submodule "jquery"]
	path = jquery
	url = git://github.com/bitovi/jquerypp.git
[submodule "steal"]
	path = steal
	url = git://github.com/bitovi/steal.git
[submodule "documentjs"]
	path = documentjs
	url = git://github.com/bitovi/documentjs.git
[submodule "funcunit"]
	path = funcunit
	url = git://github.com/bitovi/funcunit.git
