<div class="media-body media-box">
	<% if( attr('title') ){ %>
		<h4><%= attr('title') %></h4>
	<%}%>
	<% if( attr('text') ) { %>
		<p><%= attr('text') %></p>
	<%}%>
	<% if( attr('subitems') && (attr('subitems').attr('length') >0) ) { %>
		<ul <%= (el) -> SubitemsControl(el,attr('subitems')) %>></ul>
	<%}%>
</div>
