<a class="pull-left media-icon" href="#">
	<i class="icon icon-{{icon}}"></i>
</a>
<div class="media-body">

	<div class="input-append">
		<input type="text" class="input-block-level" type="text" placeholder="Ingrese un comentario">
		<button type="submit" class="btn">Comentar</button>
	</div>

</div>