{{#more}}
	<button class="btn btn-block more" {{data 'more'}} type="button">
		Ver mas!
	</button>
{{else}}
	<button class="btn btn-block btn-danger disabled" type="button">
		No hay mas!
	</button>
{{/more}}