<div class="popover span4">
	<div class="arrow"></div>
	<h3 class="popover-title">
		{{title}}
	</h3>
	<div class="popover-content">
		<a class="pull-left thumbnail" href="#">
			<img src="{{img}}" class="img-circle">
		</a>
		<div class="media-body span2">
			<div class="media">
				<strong> 
					{{description}}
				</strong> 
			</div>
		</div>
	</div>
</div>