<div class="popover top">
	<div class="arrow"></div>
	<h3 class="popover-title">
		{{owner}}
	</h3>
	<div class="popover-content">
		<a class="pull-left thumbnail" href="#">
			<img src="{{img}}" class="img-circle">
		</a>
		<div class="media-body span3">
			<div class="media">
				<strong> 
					{{descripcion}}
				</strong> 
			</div>
		</div>
	</div>
</div>